pytest
pystac-client
odc-stac
dea-tools # requires pg_config to build from source!

# seaborn  # no longer needed?
matplotlib_scalebar

# elevation # no longer needed?

pysheds
dask[distributed]
boto3
cql2 # Required by calculate_fire_severity() method


typer # cli support
jupytext

